
#violentCrimesContainer {
  padding-top: 20px;
  padding-left: 20px;
  display: block;
  margin: auto;
  width: 45%;
}

#NonviolentCrimesContainer{
  padding-top: 20px;
  margin: auto;
  display: block;
  width:45%;
}

.slider-item {
  padding-bottom: 20px;
}

div {
  display:inline-block;
}

.grid {
  border: 3px solid black;
  border-radius: 25px;
  display:block;
  margin: auto;
  width: 50%;
}
