
#violentCrimesContainer {
  padding-top: 0px;
  /* padding-left: 20px; */
  display: block;
  margin: auto;
  width: 50%;
}

#NonviolentCrimesContainer{
  /* padding-top: 20px; */
  margin: auto;
  display: block;
  width: 50%;
}

.slider-item {
  padding-bottom: 20px;
}

.slider-box {
  width: 45%;
}

.crime-type-name {
  /* padding-left: 150px; */
  text-align: center;
}

div {
  display:inline-block;
}

.grid {
  border: 3px solid black;
  border-radius: 25px;
  display:block;
  margin: auto;
  width: 50%;
}
