div.slider-box {
  display: block;
  margin-left: 20%;
  width: 50%;
}

div.slider {
  width: 50%;
}

h7 {
  font-size: 12px;
}

.sub-category {
  width: 49%;
}

.center {
  text-align: center;
}

.big {
  width: 90%;
}

/* tell the SVG path to be a thin red line without any area fill */
path {
  /* stroke: red; */
  stroke-width: 2;
  /* fill: none; */
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line,
.y.axis path {
  fill: none;
  stroke: #000;
}
