div.slider-box {
  display: block;
  margin-left: 20%;
  width: 50%;
}

div.slider {
  width: 50%;
}

h7 {
  font-size: 12px;
}

.sub-category {
  width: 49%;
}

.center {
  text-align: center;
}

.big {
  width: 90%;
}
